<!doctype html>
<html>
<head>
    <title>About Meadowlark Travel!</title>
</head>
<body>
    <h1>About Meadowlark Travel!</h1>
    <p>This is your Fortune of the Day:</p>
    <h3>{{fortune}}</h3>
    <p>Thank you for considering Meadowlark Travel for your travel needs!</p>
</body>    
</html>